.App1 {
  text-align: center;
  border: 2px solid #ccc;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.my-comp {
  width: 60%;
  border: 1px solid #ccc;
  margin: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.even-comp {
  width: 60%;
  border: 1px solid #ccc;
  margin: auto;
  padding: 10px;
}

.odd-comp {
  width: 60%;
  border: 1px solid #ccc;
  margin: auto;
  padding: 10px;
}